.button {
   
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px aqua;
  }
  
  .button:hover {background-color: black}
  
  .button:active {
    background-color: #80FD67;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


body {
	background-color: #F6BDB1;
}
